body {
	width: 100%;
	height: 100%;
	overflow: hidden;
    background: none !important;
}

#container {
	position: absolute;
	background: #eef;
	height: 700px;
	width: 1000px;
	top: 40%;
	left: 40%;
	margin: -250px 0 0 -300px;
	cursor: default;
	display: flex;
	flex-direction: column;
}
